<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    员工工作经历 Mapper 映射文件
    namespace 必须与对应的 Mapper 接口全限定名一致
-->
<mapper namespace="com.itheima.mapper.EmpExprMapper">

    <!--
        批量插入员工工作经历
        collection="list"：遍历传入的 List 集合
        item="expr"：每次遍历的元素别名
        separator=","：元素之间用逗号分隔
    -->
    <insert id="insertBatch">
        INSERT INTO emp_expr (emp_id, begin, end, company, job)
        VALUES
        <foreach collection="list" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>


    <!-- 根据员工ID删除工作经历 -->
    <delete id="deleteByEmpId">
        DELETE FROM emp_expr WHERE emp_id = #{empId}
    </delete>

    <!-- 根据员工ID查询工作经历 -->
    <select id="findByEmpId" resultType="com.itheima.pojo.EmpExpr">
        SELECT * FROM emp_expr WHERE emp_id = #{empId}
        ORDER BY begin DESC
    </select>

</mapper>
